<p class="contactinfo"><a href="{{ "#about" | relURL }}">About</a></p>
<p class="contactinfo"><a href="{{ "#publications" | relURL }}">Research</a></p>
<p class="contactinfo"><a href="{{ "#policyreports" | relURL }}">Policy Reports</a></p>
<p class="contactinfo"><a href="{{ "#newspaperarticles" | relURL }}">Newspaper Articles</a></p>
<p class="contactinfo"><a href="{{ "#chinesereports" | relURL }}">政策報告</a></p>
<p class="contactinfo"><a href="{{ "#chinesearticles" | relURL }}">報刊文章</a></p>
<p class="contactinfo"><a href="{{ "#teaching" | relURL }}">Teaching</a></p>
<p class="contactinfo"><a href="{{ "#notes" | relURL }}">Notes</a></p>
