{{ define "main" -}}
<h2 id="about">About</h2>
{{ with .GetPage "/sections/aboutme.md" }}
{{ .Content }}
{{ end }}


{{ $scratch := newScratch }}
{{ $scratch.Set "pubcnt" 0 }}

{{ with .Site.Data.working_papers }}
<hr>
<h2 id="workingpapers">Working Papers</h2>
{{ range . }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}   
{{ end }}
{{ end }}
{{ end }}

{{ with .Site.Data.publications }}
<hr>
<h2 id="publications">Publications</h2>
{{ range . }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}   
{{ end }}
{{ end }}
{{ end }}

{{ $wipCount := 0 }}
{{ range .Site.Data.work_in_progress }}
{{ range .works }}
{{ $wipCount = add $wipCount 1 }}
{{ end }}
{{ end }}
{{ if gt $wipCount 0 }}
<hr>
<h2 id="workinprogress">Work in Progress</h2>
{{ range .Site.Data.work_in_progress }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}
{{ end }}
{{ end }}
{{ end }}

{{ with .GetPage "/sections/policy_reports.md" }}
<hr>
<h2 id="policyreports">Policy Reports</h2>
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/newspaper_articles.md" }}
<hr>
<h2 id="newspaperarticles">Newspaper Articles</h2>
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/chinese_reports.md" }}
<hr>
<h2 id="chinesereports">政策報告</h2>
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/chinese_articles.md" }}
<hr>
<h2 id="chinesearticles">報刊文章</h2>
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/teaching.md" }}
<hr>
<h2 id="teaching">Teaching</h2>
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/personal.md" }}
<hr>
<h2 id="notes">Notes</h2>
{{ .Content }}
{{ end }}

{{ .Content }}
{{- end }}
